<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="Tests">
        <classes>
            <class name="com.automationexercise.tests.Tests.HomePageTest"></class>
            <class name="com.automationexercise.tests.Tests.ProductDetailTest"></class>
            <class name="com.automationexercise.tests.Tests.CheckOutTest"></class>
        </classes>
    </test>
</suite>